{% extends 'CRUDInventoryBundle::layout.html.twig' %}

{% block body %}
    <h1 class="page-title"> Edd Vehicle</h1>
    <div class="edit-info">{%if editInfo %} Vehicle updated {% endif %}</div>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="row edit-vehicle">
            <div class="col-xs-12">
              {% if form.vars.value.mainImage is not null %}
                    <img class="edit-image" src="{{ imageUrl }}" />
              {% endif %}
            </div>
            <div class="col-xs-12">
                <div>
                    <label class="required" for="mainImage">Add image files</label>
                    <input type="file"  name="mainImage" id="mainImage" value="{{imageUrl}}">
                </div>
            </div>
            <div class="col-xs-12">
                {{ form_row(form.newUsed) }}
            </div>
            <div class="col-xs-12">
                {{ form_row(form.make) }}
            </div>
            <div class="col-xs-12">
                {{ form_row(form.model) }}
            </div>
            <div class="col-xs-12">
                {{ form_row(form.stock) }}
            </div>
            <div class="col-xs-12">
                {{ form_row(form.trim) }}
            </div>
            <div class="col-xs-12">
                {{ form_row(form.price) }}
            </div>
            <div class="col-xs-12">
                {{ form_row(form.save) }}
            </div>
        </div>
    </form>
{% endblock %}