{% extends 'CRUDInventoryBundle::layout.html.twig' %}

{% block body %}
    <h1 class="page-title"> Inventory Listing</h1>
        <div class="deleted-vehicle">{% if deleteInfo %} Vehicle Deleted {% endif %} </div>
        <a href="/add" target="_blank" class="add-new-vehicle btn btn-primary" role="button">Add New Vehicle</a> 
        <table class="table table-bordered">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Stock</th>
                    <th>Type</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Trim</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for pval in inventory %}
                    <tr>
                        <td>{{ pval.id }}</td>
                        <td class="inventory-image">
                            <img src="{{ asset("uploads/images/" ~  pval.mainImage) }} " alt="{{pval.make}}"  class="img-responsive" />
                        </td>
                        <td>{{ pval.stock}}</td>
                        <td>{{ pval.newUsed}}</td>
                        <td>{{ pval.make}}</td>
                        <td>{{ pval.model}}</td>
                        <td>{{ pval.trim}}</td>
                        <td>{{ pval.price|number_format(2, '.', ',') }}</td>
                        <td> 
                            <a href="/edit/{{ pval.id }}" target="_blank" class="btn btn-primary" role="button">Edit</a>
                            <a href="/del/{{ pval.id }}" class="btn btn-danger" role="button">Del</a>
                        </td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
{% endblock %}